@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11.6rem 2.4rem;
  background-color: #141414;
  width: 100%;
  min-height: 100vh;
  min-width: 39rem;
  font-family: "Inter";
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.4rem;
  border-radius: 12px;
  background-color: #1f1f1f;
  min-height: 57.9rem;
  width: 32.7rem;
}

.content-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.4rem;
}

.content-profile img {
  width: 8.8rem;
  height: 8.8rem;
  border-radius: 50%;
  margin-bottom: 2.4rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}

h2 {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #c4f82a;
  margin-top: 0.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin-top: 2.4rem;
}

.content-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 100%;
}

button {
  padding: 1.2rem;
  border-radius: 8px;
  background-color: #333;
  font-family: "Inter";
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  border: none;
  transition: 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #c4f82a;
  color: #333;
}

button:active {
  opacity: 0.7;
}

@media screen and (min-width: 48rem) {
  body {
    padding: 20.6rem 15.6rem;
    min-width: unset;
  }
  main {
    width: 46rem;
    height: 61.1rem;
    padding: 4rem;
  }
  .content-buttons {
    gap: 1.8rem;
  }
}

@media screen and (min-width: 90rem) {
  body {
    margin: 0 auto;
  }
  main {
    max-width: 38.4rem;
  }
}
